@import './variables.css';

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* word-spacing: 1px; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  background-color: var(--color-grey-lighter);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/* Nuxt page transition */

.page-enter-active, .page-leave-active {
  transition: opacity 0.2s
}
.page-enter, .page-leave-active {
  opacity: 0
}

/* Typography */
h1, .h1 { font-size: 1.5rem; font-weight: bold; }
h2, .h2 { font-size: 1.125rem; font-weight: bold; }
h3, .h3 { font-size: 1rem; font-weight: bold; }
small, .small { font-size: 0.8125rem }
h1, h2, h3, h4, .h1, .h2, .h3, .h4, .smallLineHeight { line-height: 1.1; }
.mediumLineHeight { line-height: 1.3; }

@media (min-width: 25rem) {
}

@media (min-width: 48rem) {
  h1, .h1 { font-size: 1.75rem; }
  h2, .h2 { font-size: 1.25rem; }
}

@media (min-width: 64rem) {
  h1, .h1 { font-size: 2.25rem; }
}

/* Colors */
.red { color: var(--color-red); }
.dimmed { color: var(--color-grey-dark); }


/* Links */

a { color: var(--color-primary); text-decoration: none; }
.no-touch a:hover { text-decoration: underline; }


/* Lists */

.inlineList, .unstyledList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.inlineList li { display: inline-block; }


/* Images */
.bgImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.round { border-radius: 50%; }
img[lazy=loading] {
  opacity: 0;
  transition: opacity 0.2s ease;
}
img[lazy=loaded] {
  opacity: 1;
  transition: opacity 0.2s ease;
}

/* Borders */

.borderTop { border-top: 1px solid var(--color-grey-light); }
.borderBottom { border-bottom: 1px solid var(--color-grey-light); }

.shadow { box-shadow: 0 0 1.5rem rgba(0,0,0,0.25); }


/* Layout */

.group {
  position: relative;
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
}
.group > * {
  position: relative;
  display: flex;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}


/* Form */

input {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light);
  border-radius: 0;
  height: 2.5rem;
  border-radius: 0;
}
input:focus {
  outline: 0;
  border-bottom: 2px solid var(--color-primary);
}
input::placeholder {
  color: var(--color-grey-light);
}


/* Responsive */

.hiddenOnMobile { display: none!important; }

@media (min-width: 25rem) {
  .hiddenOnPhablet { display: none!important; }
  .visibleOnPhablet { display: block!important; }
  .inlineOnPhablet { display: inline!important; }
  .inline-blockOnPhablet { display: inline-block!important; }
}

@media (min-width: 48rem) {
  .bodySizeOnTablet { font-size: 1rem; }
  .hiddenOnTablet { display: none!important; }
  .visibleOnTablet { display: block!important; }
  .inlineOnTablet { display: inline!important; }
  .inlineBlockOnTablet { display: inline-block!important; }
}

@media (min-width: 64rem) {
  .hiddenOnLaptop { display: none!important; }
  .visibleOnLaptop { display: block!important; }
  .inlineOnLaptop { display: inline!important; }
  .inlineBlockOnLaptop { display: inline-block!important; }
}

@media (min-width: 96rem) {
  .bodySizeOnDesktop { font-size: 1rem; }
  .hiddenOnDesktop { display: none!important; }
  .visibleOnDesktop { display: block!important; }
  .inlineOnDesktop { display: inline!important; }
  .inlineBlockOnDesktop { display: inline-block!important; }
}
