@import './variables.css';

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* word-spacing: 1px; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  padding-top: 5.5rem;
  background-color: var(--color-grey-lighter);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

/* Nuxt page transition */

.page-enter-active, .page-leave-active {
  transition: opacity 0.2s
}
.page-enter, .page-leave-active {
  opacity: 0
}


/* Typography */

h1, .is-h1 { font-size: 1.5rem; font-weight: bold; }
h2, .is-h2 { font-size: 1.125rem; font-weight: bold; }
h3, .is-h3 { font-size: 1rem; font-weight: bold; }
small, .is-small { font-size: 0.8125rem }
h1, h2, h3, h4, .is-h1, .is-h2, .is-h3, .is-h4, .has-small-line-height { line-height: 1.1; }
.has-medium-line-height { line-height: 1.3; }
.has-no-line-height { line-height: 1; }
.is-uppercase { text-transform: uppercase; }

@media (min-width: 25rem) {
}

@media (min-width: 48rem) {
  h1, .is-h1 { font-size: 1.75rem; }
  h2, .is-h2 { font-size: 1.25rem; }
}

@media (min-width: 64rem) {
  h1, .is-h1 { font-size: 2.25rem; }
}

@media (min-width: 96rem) {
}


/* Links */

a { color: var(--color-primary); text-decoration: none; }
.no-touch a:hover { text-decoration: underline; }
a:hover.has-no-underline { text-decoration: none; }


/* Colors */

.is-black { color: var(--color-black); }
.is-grey { color: var(--color-grey-darker); }
.is-red { color: var(--color-red); }
.is-green { color: var(--color-green); }
.is-yellow { color: var(--color-yellow); }
.is-white { color: var(--color-white); }
.is-dimmed { color: var(--color-grey-dark); }

.has-white-background { background-color: var(--color-white); }
.has-light-grey-background { background-color: var(--color-grey-lighter); }
.has-primary-background { background-color: var(--color-primary); }

.has-shadow { box-shadow: 0 0 16px rgba(0,0,0,0.25); }


/* Text */

.is-aligned-right { text-align: right; }
.is-aligned-center { text-align: center; }


/* Lists */

.is-inline-list, .is-unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.is-inline-list li { display: inline; }


/* Images */
.is-bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.is-round { border-radius: 50%; }
img[lazy=loading] {
  opacity: 0;
  transition: opacity 0.2s ease;
}
img[lazy=loaded] {
  opacity: 1;
  transition: opacity 0.2s ease;
}

/* Borders */
.has-border-top { border-top: 1px solid var(--color-grey-light); }
.has-border-bottom { border-bottom: 1px solid var(--color-grey-light); }


/* Form */

input {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light);
  border-radius: 0;
  height: 2.5rem;
  border-radius: 0;
}
input:focus {
  outline: 0;
  border-bottom: 2px solid var(--color-primary);
}
input::placeholder {
  color: var(--color-grey-light);
}
input.no-border { border: 0; }


/* Spacing */

.has-no-margin { margin: 0!important; }
.has-no-top-margin { margin-top: 0!important; }
.has-no-bottom-margin { margin-bottom: 0!important; }
.has-no-horizontal-margin { margin-left: 0rem!important; margin-right: 0rem!important; }
.has-no-vertical-margin { margin-top: 0rem!important; margin-bottom: 0rem!important; }
.has-tiny-vertical-margin { margin-top: 0.5rem!important; margin-bottom: 0.5rem!important; }
.has-tiny-top-margin { margin-top: 0.5rem!important; }
.has-tiny-bottom-margin { margin-bottom: 0.5rem!important; }
.has-tiny-right-margin { margin-right: 0.5rem!important; }
.has-tiny-left-margin { margin-left: 0.5rem!important; }
.has-small-top-margin { margin-top: 1rem!important; }
.has-small-bottom-margin { margin-bottom: 1rem!important; }
.has-small-vertical-margin { margin-top: 1rem!important; margin-bottom: 1rem!important; }
.has-small-right-margin { margin-right: 1rem!important; }
.has-small-left-margin { margin-left: 1rem!important; }
.has-top-margin { margin-top: 2rem!important; }
.has-right-margin { margin-right: 2rem!important; }

.has-no-padding { padding: 0!important; }
.has-no-top-padding { padding-top: 0!important; }
.has-no-bottom-padding { padding-bottom: 0!important; }
.has-tiny-top-padding { padding-top: 0.5rem!important; }
.has-tiny-bottom-padding { padding-bottom: 0.5rem!important; }
.has-tiny-right-padding { padding-right: 0.5rem!important; }
.has-tiny-left-padding { padding-left: 0.5rem!important; }
.has-tiny-horizontal-padding { padding-left: 0.5rem!important; padding-right: 0.5rem!important; }
.has-padding { padding: 1rem!important; }
.has-right-padding { padding-right: 1rem!important; }
.has-bottom-padding { padding-bottom: 1rem!important; }
.has-vertical-padding { padding-top: 1rem!important; padding-bottom: 1rem!important; }
.has-horizontal-padding { padding-left: 1rem!important; padding-right: 1rem!important; }
.has-large-top-padding { padding-top: 2rem!important; }
.has-large-bottom-padding { padding-bottom: 2rem!important; }
.has-large-vertical-padding { padding-top: 2rem!important; padding-bottom: 2rem!important; }
.has-large-left-padding { padding-left: 2rem!important; }
.has-large-padding { padding: 2rem!important; }


/* Layout */

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

.is-full-width { width: 100%; height: auto; }
.is-full-height { height: 100%; }

.is-inline { display: inline; }
.is-block { display: block; }

.is-absolute { position: absolute!important }
.is-at-bottom { bottom: 0; }

.is-group {
  position: relative;
  display: flex;
  width: 100%;
  vertical-align: middle;
  align-items: center;
}
.is-group > * {
  position: relative;
  display: flex;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}


/* Responsive */

.is-hidden-on-mobile { display: none!important; }

@media (min-width: 25rem) {
  .is-hidden-on-phablet { display: none!important; }
  .is-visible-on-phablet { display: block!important; }
  .is-inline-on-phablet { display: inline!important; }
  .is-inline-block-on-phablet { display: inline-block!important; }
}

@media (min-width: 48rem) {
  .is-body-size-on-tablet { font-size: 1rem; }
  .is-hidden-on-tablet { display: none!important; }
  .is-visible-on-tablet { display: block!important; }
  .is-inline-on-tablet { display: inline!important; }
  .is-inline-block-on-tablet { display: inline-block!important; }
}

@media (min-width: 64rem) {
  .is-hidden-on-laptop { display: none!important; }
  .is-visible-on-laptop { display: block!important; }
  .is-inline-on-laptop { display: inline!important; }
  .is-inline-block-on-laptop { display: inline-block!important; }
}

@media (min-width: 96rem) {
  .is-body-size-on-desktop { font-size: 1rem; }
  .is-hidden-on-desktop { display: none!important; }
  .is-visible-on-desktop { display: block!important; }
  .is-inline-on-desktop { display: inline!important; }
  .is-inline-block-on-desktop { display: inline-block!important; }
}


/* Animations */
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
