:root {
    --color-primary: #5BC0EB;
    --color-primary-dark: #4392F1;
    --color-red: #F85A3E;
    --color-yellow: #FFB400;
    --color-yellow-dark: #E69500;
    --color-green: #7FB800;
    --color-buy: #00AA5B;
    --color-buy-dark: #00914E;
    --color-black: #000000;
    --color-grey-darker: #333333;
    --color-grey-dark: #666666;
    --color-grey: #999999;
    --color-grey-light: #CCCCCC;
    --color-grey-lighter: #F2F2F2;
    --color-white: #FFFFFF;
    --color-pop-over-background: rgba(0, 0, 0, 0.5);
}
